#buscar_var{
 margin-left: 450px;
 margin-top: -150px;   
}
#general-conatin{
    
    width: 600px;

}
#username_con2{
 margin-top: -40px;
 width: 100px;
 margin-left: 100px;   
}

#username_cont{

margin-left: 100px;
}

#username_cont_im{

    
}

#boutconain{
margin-top: 10px;
margin-left: -100px;
}
#user_img{
    height: 150px;
    width: auto;
}
